/*
    Alguns recursos uteis:
        - https://css-tricks.com/snippets/css/a-guide-to-flexbox/ (flexbox)
        - https://cssgrid-generator.netlify.app/ 


*/

/* Breakpoints:
    - 0-480: smaller smartphones
    - 481-768: tablets & larger smartphones
    - 769-1279: Laptops, larger tablets in landscape, small desktops
    - 1280+: Larger desktops and monitors

*/
:root{
  --dark-green: #223F29;
  --light-yellow: #FFFEF2;
  --h1-texto: 4rem;
  --h1-size: 3.5rem;
}


html, body{
    padding: 0;
    margin: 0;
    background-color: var(--light-yellow);
    color: var(--dark-green);
}

.page-title, h1{
    font-family:"Oswald";
    /* font-size:xxx-large; */
    font-size: var(--h1-size);;
}

h2{
  font-family:"Oswald";
}

.margem-ct{
    margin:auto;
    width: calc(7/13*100%);
}


#map {
  margin: auto;
  width: 100%;
  height: 50vh; 
}

/***** Nav *****/

nav{
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 50px;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position:sticky;
  top: 0px;
  background-color: var(--light-yellow);
  opacity: 0.918;
  z-index: 10;
}

.form-nav { grid-area: 1 / 1 / 2 / 4; }
.nav-home { grid-area: 1 / 4 / 2 / 6; }
.nav-sobre { grid-area: 1 / 6 / 2 / 8; }
.nav-todos-textos { grid-area: 1 / 8 / 2 / 10; }
.nav-todas-palavras { grid-area: 1 / 10 / 2 / 12; }
.nav-categorias { grid-area: 1 / 12 / 2 / 14; }


.a-nav, .form-nav{
  list-style-type: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-nav:hover{
  font-weight: bolder;
  background-color: var(--dark-green);
}

.form-nav{
  background-color: var(--light-yellow);
  
}

.a-nav:link{
  text-decoration: none;
  color: var(--dark-green);
}

.a-nav:visited {
  text-decoration: none;
  color: var(--dark-green);
}

.a-nav:hover {
  text-decoration: none;
  color: var(--light-yellow);
}

.a-nav:active {
  text-decoration: none;
}


/****** form de pesquisa *******/
.input-nav[type=text]{
  width: 140px;
  height: 30px;
}

.submit-nav{ /*button*/
  width: 20px;
  background-color: var(--light-yellow);
  padding: 5px;
}

.ham-box{
  display: none;
}

@media screen and (max-width: 768px) {

  nav .input-nav[type=text]{
    float: none;
  }

  .a-nav{
    display: none;
  }

  .a-nav, nav{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }

  .form-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* .ham-box{
  position: absolute;
  right: 20px;
  display: block;
  background-color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
} */


  .a-nav, .form-nav{
    padding: 10px 0;
  }

}

/*
  LISTA TAREFAS:
  - (feito) Remover parte de link
  - (feito) Remover bullet points
  - (feito) Colocar caixa grande à volta de cada item
  - (feito) Efeito para hover em cada caixa
  - Experimentar fazer toda uma nova navegação inspirada em https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar2

  - Pesquisa de palavras:
    - Ajeitar caixa de pesquisa
    - Ajeitar input
    - (feito) Colocar imagem de lupa na pesquisa
    - Caixa para apresentar resultados
    - Fazer o mesmo que na página todas palavras
    - links em cada palavra para acesso a pág da palavra

  - Colocar versão mobile (hamburguer)

  (depois para págna de textos:
    - Destacar menos as palavras clicáveis
    - Retirar contorno à caixa do texto
  )





*/