/* .textos-container{
    margin:auto;
    width: 70%;
} */

.page-title{
    font-family:"Oswald";
    font-size: xxx-large;
    margin:auto;
    width: calc(7/13*100%);
}


/******** bts *********/
.bts-visualizacao{
    display: flex; /*Falta dar um espacinho*/
    column-gap: 20px;
    margin:auto;
    width: calc(7/13*100%);
    /* cursor: pointer; */
}

.bt-a{
    cursor: pointer;
    padding: 20px 10px 20px 10px;
}

.bt-a:hover{
    background-color: black;
    color: white;
}


/******** header *********/
.ct-head-list{
    display: grid;
    grid-template-columns: repeat(13, 1fr); /*Aqui a grid devia ser igual para todos*/
    grid-template-rows: 1fr;
    padding: 20px 0px 20px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/******** entradas (distinguir entre amostra e tabela) *********/

.ct-item{ /*item tabela*/
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.container-a{
    margin:auto;
    width: calc(9/13*100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 300px; */
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
    
}

/* .container-a{
    margin:auto;
    width: calc(9/13*100%);
    display: flex;
    flex-wrap: wrap;
}

 .ct-item-amostra{
    height: 275px;
    background: #cacaca;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
}  */

 .ct-item-amostra{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 300px;
} 



/******** items-header e tabela *********/
.ano { grid-area: 1 / 3 / 2 / 5; }
.titul { grid-area: 1 / 5 / 2 / 9; }
.author { grid-area: 1 / 9 / 2 / 12; }

/******** filtros *********/
#Ord-Tit, #Ord-Aut, #Ord-Dat{
    cursor: pointer;
}

#Ord-Tit:hover, #Ord-Aut:hover, #Ord-Dat:hover{
    background-color: black;
    color: white;
}