/* .textos-container{
    margin:auto;
    width: 70%;
} */

/* .page-title{
    margin:auto;
    width: calc(7/13*100%);
} */


/******** bts *********/
.bts-visualizacao{
    display: flex; /*Falta dar um espacinho*/
    column-gap: 20px;
    margin:auto;
    width: calc(7/13*100%);
    /* cursor: pointer; */
}

.bt-a{
    cursor: pointer;
    padding: 20px 10px 20px 10px;
}

.bt-a:hover{
    background-color: black;
    color: white;
}


/******** header *********/
.ct-head-list{
    display: grid;
    grid-template-columns: repeat(13, 1fr); /*Aqui a grid devia ser igual para todos*/
    grid-template-rows: 1fr;
    /* padding: 20px 0px 20px 0px; */
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    position: sticky;
    top:51px;
    background-color: var(--dark-green-t-o);
    z-index: 5;
}

/******** entradas (distinguir entre amostra e tabela) *********/

.ct-item{ /*item tabela*/
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.container-a{
    margin:auto;
    width: calc(9/13*100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 300px; */
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
    
}

/* .container-a{
    margin:auto;
    width: calc(9/13*100%);
    display: flex;
    flex-wrap: wrap;
}

 .ct-item-amostra{
    height: 275px;
    background: #cacaca;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    overflow: hidden;
}  */

 .ct-item-amostra{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 300px;
    overflow: hidden;
} 


/******** items-header e tabela *********/
.ano { grid-area: 1 / 3 / 2 / 5; }
.titul { grid-area: 1 / 5 / 2 / 9; }
.author { grid-area: 1 / 9 / 2 / 12; }

/******** botoes header *********/
.ano-header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 input'
                          'h2 input'
                          'ord input';
    gap: 5px;
    padding: 5px;
}

.titul-header{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 h2 input'
                         'h2 h2 h2 input'
                         'ord ord ord input';
    gap: 5px;
    padding: 5px;
}

.author-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 input'
                         'h2 h2 input'
                         'ord ord input';
    gap: 5px;
    padding: 5px;

}

.ano-o-h, .titul-o-h, .aut-o-h{
    grid-area: h2;
    margin:0;
}

#Ord-Dat, #Ord-Tit, #Ord-Aut{
    grid-area: ord;
    margin:0;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
}

#Ord-Tit:hover, #Ord-Aut:hover, #Ord-Dat:hover{
    background-color: var(--dark-green);
    color: var(--light-yellow);
}

#year-search-bar, #titultxt-search-bar, #autortxt-search-bar{
    grid-area: input;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}



/******** input style *********/
.input-h{
    width: 100px;
    height: 100%;
    border:1;
    padding: 0;
    padding-right: 30px; 
    padding-left: 5px;
    box-sizing: border-box;
}

.input-h:focus{
    outline: none;
    border-color: var(--dark-green);
}

.bt-h{
    width: 20px;
    z-index: 2;
    top: 2px;
    left: 72px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.bt-h{
    width:20px;
    opacity: 0.6;
}


/* .info-map{
    position:absolute;
    top: 200px;
    width: 300px;
    background-color: var(--light-yellow);
    padding: 20px;
    z-index: 1000;
} */

.leaflet-right .info-control{ /*Para display de informações*/
    background-color: var(--ligtht-yellow);
    max-height: 400px;
    overflow: auto;
}

.leaflet-right .info-control a{
    color: var(--dark-green);
}

.leaflet-right .info-control a:hover{
    color: var(--ligtht-yellow);
    background-color: var(--dark-green);
}

.leaflet-right .info-control .info-content-map{ /*Para display de informações*/
    background-color: var(--ligtht-yellow);
    
}

.leaflet-right .scrollable{
    max-height: 180px;
    overflow: auto;
}

.leaflet-popup-content-wrapper{
    color: var(--dark-green)

}

.leaflet-popup-content-wrapper a:hover{
    color: var(--ligtht-yellow)
    
}