/* .elemento-container{
    margin:auto;
    width: 70%;
} */

.margem-ct{ /*Poderia se adaptar a larguras diferentes*/
    margin:auto;
    width: calc(7/13*100%);
}

.list-container{
    font-family: "Quattrocento";
    font-size:large;
}

.textos-mencionam-h{
    padding: 30px 0px 20px;
    margin:auto;
    width: calc(7/13*100%);
}

/******** header *********/
.tentry-header{
    display:grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    /* padding: 20px 0px 20px 0px; */
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    position: sticky;
    top:51px;
}

/******** entradas *********/
.tentry{
   display:grid;
   grid-template-columns: repeat(13, 1fr);
   grid-template-rows: 1fr;
   padding: 15px 0px 15px 0px;
   grid-column-gap: 0px;
   grid-row-gap: 0px; 
}

/******** items-header e tabela *********/
.ano { grid-area: 1 / 4 / 2 / 5; }
.titulo { grid-area: 1 / 5 / 2 / 8; }
.autor { grid-area: 1 / 8 / 2 / 11; }

/******** botoes header *********/
.ano-header{ /*ano de 1 celula!!*/
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 input'
                          'h2 input'
                          'ord input';
}

.titulo-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 input'
                         'h2 h2 input'
                         'ord ord input';
}

.autor-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 input'
                         'h2 h2 input'
                         'ord ord input';
}

.ano-o-h, .titul-o-h, .aut-o-h{
    grid-area: h2;
    margin:0;
}

#year-search-bar, #titul-search-bar, #autor-search-bar{
    grid-area: input;
    position: relative;
    display: flex;
    align-items: center;
}

#Ord-Dat, #Ord-Tit, #Ord-Aut{
    grid-area: ord;
    margin:0;
}

/******** filtros *********/
#Ord-Tit, #Ord-Aut, #Ord-Dat{
    cursor: pointer;
}

#Ord-Tit:hover, #Ord-Aut:hover, #Ord-Dat:hover{
    background-color: black;
    color: white;
}

/******** input style *********/
.input-h{
    width: 100px;
    height: 100%;
    border:1;
    padding: 0;
    padding-right: 30px; 
    padding-left: 5px;
    box-sizing: border-box;
}

.bt-h{
    width: 20px;
    z-index: 2;
    top: 2px;
    left: 72px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}