/* .words-container{
    margin:auto;
    width: 70%;
} */

.margem-ct{
    margin:auto;
    width: calc(7/13*100%);
}

.page-title{
    font-family:"Oswald";
    font-size: xxx-large;
}

/******** header *********/

.ct-head-list{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 0px 20px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px
}

/******** entradas *********/
.ct-item{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px
}




.palavras{ grid-area: 1 / 3 / 2 / 6;} /*Linha start/ coluna start/ linha end/ coluna end*/
.texto   { grid-area: 1 / 6 / 2 / 10;}
.freq    { grid-area: 1 / 10 / 2 / 12;}


