
.word-container{
    margin:auto;
    width: 70%;
}

.word-h{
    font-family:"Oswald";
    font-size: xxx-large;
}

.list-container{
    font-family: "Quattrocento";
    font-size:large;
}

.titulo:link{
    color: black;
    text-decoration: none;
}

.titulo:visited{
    color:black;
    text-decoration: none;
}

.titulo:hover{
    color:green;
    text-decoration: none;
}

/******** header *********/

/*
.list-container{
    display
}

*/

.tentry-header{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 40px 20px 40px 20px
}

/******** entradas *********/
.tentry {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px 20px 10px 20px
}


.iteracao{ grid-area: 1/1/2/2; } /*div 1*/
.titul   { grid-area: 1/2/2/5; } /*div 2*/
.ano     { grid-area: 1/5/2/6; } /*div 3*/
.author  { grid-area: 1/6/2/8; } /*div 4*/
.freq    { grid-area: 1/8/2/9; } /*div 5*/


/********* Tabela abaixo **************/
/* .list-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px 20px 10px 20px
} */