.texto-container{
    /*background-color: blue;*/
    margin: auto;
    width: 70%;
    /* border: 3px solid rgb(218, 218, 218); */
    padding: 10px;
}


.titulo{
    margin: auto;
    /*width: 70%;*/
    padding-top: 10px;
    padding-left: 15%;
    font-family:"Oswald";
    font-size: xxx-large;
}

.texto-completo{
    margin: auto;
    padding-left: 15%;
    padding-bottom: 30px;
    font-family: "Quattrocento";
    font-size:large;
}


.palavra:link{
    color:black;
    /* background-color: rgba(0, 0, 0, 0.123); */
    text-decoration: none;
}

.palavra:visited{
    color:black;
    background-color: black;
    text-decoration: none;
}

.palavra:hover{
    color:white;
    background-color: black;
    text-decoration: none;
}

.categorias-palavras-ct{
    margin: auto;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.categoria-a:link{
    color: red;
    text-decoration: none;
}

.categoria-a:visited{
    color: red;
    text-decoration: none;
}

.categoria-a:hover{
    /* color:white; */
    background-color: black;
    text-decoration: none;
}

.categoria-conteudo a:link{
    color: red;
    text-decoration: none;
}

.categoria-conteudo a:visited{
    color: red;
    text-decoration: none;
}

.categoria-conteudo a:hover{
    /* color:white; */
    background-color: black;
    text-decoration: none;
}