/* 
.word-container{
    margin:auto;
    width: 70%;
} */

.margem-ct{ /*Poderia se adaptar a larguras diferentes*/
    margin:auto;
    width: calc(7/13*100%);
}

.word-h{
    font-family:"Oswald";
    font-size: xxx-large;
}

.list-container{
    font-family: "Quattrocento";
    font-size:large;
}

.titulo:link{
    color: black;
    text-decoration: none;
}

.titulo:visited{
    color:black;
    text-decoration: none;
}

.titulo:hover{
    color:green;
    text-decoration: none;
}

/******** header *********/

/*
.list-container{
    display
}

*/

.tentry-header{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    padding: 40px 20px 40px 20px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/******** entradas *********/
.tentry {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.ano     { grid-area: 1 / 3 / 2 / 4; } 
.titul   { grid-area: 1 / 4 / 2 / 8; } 
.author  { grid-area: 1 / 8 / 2 / 11; } 
.freq    { grid-area: 1 / 11 / 2 / 12; } 


/********* Tabela abaixo **************/
/* .list-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px 20px 10px 20px
} */