.leaflet-right .info-control{ /*Para display de informações*/
    background-color: var(--ligtht-yellow);
    max-height: 400px;
    overflow: auto;
}

.leaflet-right .info-control a{
    color: var(--dark-green);
}

.leaflet-right .info-control a:hover{
    color: var(--ligtht-yellow);
    background-color: var(--dark-green);
}

.leaflet-right .info-control .info-content-map{ /*Para display de informações*/
    background-color: var(--ligtht-yellow);
    
}

.leaflet-right .scrollable{
    max-height: 180px;
    overflow: auto;
}

.leaflet-popup-content-wrapper{
    color: var(--dark-green)

}

.leaflet-popup-content-wrapper a:hover{
    color: var(--ligtht-yellow)
    
}

#map{
    margin-top: 100px;
}