.leaflet-right .info-control{ /*Para display de informações*/
    background-color: var(--light-yellow)!important;
    max-height: 400px;
    overflow: auto;
}

.leaflet-right .leaflet-control-layers{
    background-color: var(--light-yellow)!important;
}

.leaflet-right .info-control a{
    color: var(--dark-green);
}

.leaflet-left .leaflet-control-zoom-in, .leaflet-left .leaflet-control-zoom-out, .leaflet-left .leaflet-control-scale-line{ /*n funcional*/
    background-color: var(--light-yellow)!important;
}

.leaflet-right .info-control a:hover{
    text-decoration: none;
    color: var(--light-yellow);
    background-color: var(--dark-green);
}

.leaflet-right .info-control h3 a{
    transition: all 0.3s;
    padding: 2px;
}

.leaflet-right .info-control h3 a:hover{
    text-decoration: none;
    color: var(--light-yellow);
    background-color: var(--dark-green);
    padding-right: 5px;
    padding-left: 5px;
    
}

.leaflet-right .info-control .info-content-map{ /*Para display de informações*/
    background-color: var(--light-yellow);
    
}

.leaflet-right .scrollable{
    max-height: 180px;
    overflow: auto;
}

.leaflet-popup-content-wrapper{
    color: var(--dark-green)

}

.leaflet-popup-content-wrapper a:hover{
    color: var(--light-yellow)
    
}

#map{
    margin-top: 100px;
}

#exemplo-mapa{
    color: var(--dark-green-t);
}