/* .categorias-container{
    margin:auto;
    width: 70%;
} */

/* .page-title{
    margin:auto;
    width: calc(7/13*100%);
} */

/*seria igual a container de ct-item ct-item*/
/* .categorias-sections{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
} */

.cat-section{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
}







/*
    - Esticar o gráfico verticalmente e horizontalmente (ver como funciona min-max)


*/