/*Falta toda a formatação5666666*/

/* .categoria-container{
    margin:auto;
    width: 70%;
} */

.margem-ct{ /*Poderia se adaptar a larguras diferentes*/
    margin:auto;
    width: calc(7/13*100%);
}

/******** header *********/
.ct-head-list{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* padding: 20px 0px 20px 0px; */
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    position: sticky;
    top:0px;
    background-color: var(--dark-green-t-o);
    z-index: 5;
}

/******** entradas *********/
.ct-item{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/******** items-header e tabela *********/
.palavras { grid-area: 1 / 3 / 2 / 6; }
.texto { grid-area: 1 / 6 / 2 / 10; }
.frequencia { grid-area: 1 / 10 / 2 / 12; }
.barra-frequencia { grid-area: 1 / 6 / 2 / 12; }

/******** botoes header *********/

.palavras-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 input'
                          'h2 h2 input'
                          'ord ord input';
    gap: 5px;
    position: relative;
    padding: 5px;
    transition: background-color 0.2s;
}

.texto-header{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 h2 input'
                         'h2 h2 h2 input'
                         'ord ord ord input';
    gap: 5px;
    padding: 5px;
}

.frequencia-header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 input'
                          'h2 input'
                          'ord input';
    gap: 5px;
    padding: 5px;
}

.pal-o-h, .texto-o-h, .fre-o-h{
    grid-area: h2;
    margin:0;
}

#Ord-Alfa, #Ord-Tit, #Ord-Freq{
    grid-area: ord;
    margin:0;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
}

#Ord-Alfa:hover, #Ord-Tit:hover, #Ord-Freq:hover{
    background-color: var(--dark-green);
    color: var(--light-yellow);
}

#pal-search-bar, #tit-search-bar, #freq-search-bar{
    grid-area: input;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}



/******** input style *********/
.input-h{
    width: 100px;
    height: 100%;
    border:1;
    padding: 0;
    padding-right: 30px; 
    padding-left: 5px;
    box-sizing: border-box;
}

.input-h:focus{
    outline: none;
    border-color: var(--dark-green);
}

.bt-h{
    width: 20px;
    z-index: 2;
    top: 2px;
    left: 72px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.bt-h{
    width:20px;
    opacity: 0.6;
}

/****** Estilos de tabela ******/
.ct-item:hover{
    background-color: var(--dark-green-t-o2);
}

/* .ct-item a:hover{
    text-decoration: underline;
} */



/******** tooltip-freq *********/

.barra-frequencia{
    cursor: pointer;
    height: 100%;
}

.barra-valor{
    visibility: hidden;
    color: white;
}

.barra-frequencia:hover .barra-valor{
    visibility: visible;
}

.barra-interior{
    height: 100%;
}