/* .categorias-container{
    margin:auto;
    width: 70%;
} */

/* .page-title{
    margin:auto;
    width: calc(7/13*100%);
} */

/*seria igual a container de ct-item ct-item*/
/* .categorias-sections{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
} */

/* .cat-section{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
} */

.cat-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.cat-link{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-auto-rows: 200px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}


/*dentro da grid*/
.cat-header { grid-area: 1 / 3 / 2 / 5; }
.info-grafico-cat { grid-area: 1 / 5 / 2 / 8; }
.grafico-cat-ct { grid-area: 1 / 8 / 2 / 12; }



/*
    - Esticar o gráfico verticalmente e horizontalmente (ver como funciona min-max)


*/