
.list-container{
    font-family: "Quattrocento";
    font-size:large;
}

.titulo:link{
    color: black;
    text-decoration: none;
}

.titulo:visited{
    color:black;
    text-decoration: none;
}

.titulo:hover{
    color:green;
    text-decoration: none;
}

/******** header *********/

/*
.list-container{
    display
}

*/

.tentry-header{
    display: grid;
    margin-top: 50px;;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    /* padding: 40px 20px 40px 20px; */
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    position: sticky;
    top: 0px;
    background-color: var(--dark-green-t-o);
    z-index: 5;
    /* border-bottom: solid 1px var(--dark-green); */
    /* border-top:solid 1px var(--dark-green); */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

/******** entradas *********/
.ct-item {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/******** items-header e tabela *********/
.ano     { grid-area: 1 / 3 / 2 / 4; } 
.titul   { grid-area: 1 / 4 / 2 / 8; } 
.author  { grid-area: 1 / 8 / 2 / 11; } 
.freq    { grid-area: 1 / 11 / 2 / 12; } 

/******** botoes header *********/
.ano-header, .freq-header{ /*freq de 1 celula!!*/
    display: grid;
    grid-template-columns: 20px 1fr; /*1 coluna para setinha*/
    grid-template-rows: auto auto auto;
    grid-template-areas: 'arrow h2'
                         'arrow h2'
                         'arrow ord';
    gap: 5px;
    position: relative;
    padding: 5px;
    transition: background-color 0.2s;
}


/*mudança de layout com o input*/
.ano-header.input-active, .freq-header.input-active{
    grid-template-areas: 'arrow input'
                         'arrow input'
                         'arrow input';
    gap: 5px;
    padding: 5px;
}

.titul-header{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 h2 input'
                         'h2 h2 h2 input'
                         'ord ord ord input';
    gap: 5px;
    padding: 5px;
}

.author-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 input'
                         'h2 h2 input'
                         'ord ord input';
    gap: 5px;
    padding: 5px;
}



.ano-o-h, .titul-o-h, .aut-o-h, .freq-o-h{
    grid-area: h2;
    margin:0;
}

#Ord-Dat, #Ord-Tit, #Ord-Aut, #Ord-Freq{
    grid-area: ord;
    margin:0;
    cursor: pointer;
    padding: 2px 5px;
    /* border-radius: 3px; */
    /* transition: background-color 0.2s; */
    font-size: 14px;
}

#Ord-Dat:hover, #Ord-Tit:hover, #Ord-Aut:hover, #Ord-Freq:hover{
    background-color: var(--dark-green);
    color: var(--light-yellow);
}

/*Search bars*/
#year-search-bar, #titul-search-bar, #autor-search-bar, #freq-search-bar{
    grid-area: input;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

/******** input style *********/
.input-h{
    width: 100px;
    height: 100%;
    border:1;
    padding: 0;
    padding-right: 30px; 
    padding-left: 5px;
    box-sizing: border-box;
}

.input-h:focus{
    outline: none;
    border-color: var(--dark-green);
}

.bt-h{
    width: 20px;
    z-index: 2;
    top: 2px;
    left: 72px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.bt-h{
    width:20px;
    opacity: 0.6;
}

/****** Estilos de tabela ******/
.ct-item:hover{
    background-color: var(--dark-green-t-o2);
}

.ct-item .ano:hover, .ct-item .titul:hover, .ct-item .author:hover{
    /* background-color: var(--dark-green-t-o); */
    text-decoration: underline;
}


/********* Tabela abaixo **************/
/* .list-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px 20px 10px 20px
} */