
/******** header *********/
.ct-head-list{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* padding: 20px 0px 20px 0px; */
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    position: sticky;
    top:0px;
    background-color: var(--dark-green-t-o);
    z-index: 5;
}

/******** entradas *********/
.ct-item{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 15px 0px 15px 0px;
    grid-column-gap: 10px;
    grid-row-gap: 0px
}


/******** items-header e tabela *********/
.palavras{ grid-area: 1 / 3 / 2 / 6;} /*Linha start/ coluna start/ linha end/ coluna end*/
.texto   { grid-area: 1 / 6 / 2 / 10;}
.freq    { grid-area: 1 / 10 / 2 / 12;}


/******** botoes header *********/
.palavras-header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 input'
                          'h2 h2 input'
                          'ord ord input';
    gap: 5px;
    padding: 5px;
}

.texto-header{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 h2 h2 input'
                         'h2 h2 h2 input'
                         'ord ord ord input';
    gap: 5px;
    padding: 5px;
}

.freq-header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'h2 input'
                          'h2 input'
                          'ord input';
    gap: 5px;
    padding: 5px;
}

.pal-o-h, .texto-o-h, .fre-o-h{
    grid-area: h2;
    margin:0;
}

#Ord-Alfa, #Ord-Tit, #Ord-Freq{
    grid-area: ord;
    margin:0;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
}

#Ord-Alfa:hover, #Ord-Tit:hover, #Ord-Freq:hover{
    background-color: var(--dark-green);
    color: var(--light-yellow);
}


#pal-search-bar, #tit-search-bar, #freq-search-bar{
    grid-area: input;
    position: relative;
    display: flex;
    align-items: center;
}



/******** input style *********/
.input-h{
    width: 100px;
    height: 100%;
    border:1;
    padding: 0;
    padding-right: 30px; 
    padding-left: 5px;
    box-sizing: border-box;
}

.input-h:focus{
    outline: none;
    border-color: var(--dark-green);
}

.bt-h{
    width: 20px;
    z-index: 2;
    top: 2px;
    left: 72px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.bt-h{
    width:20px;
    opacity: 0.6;
}

/****** Estilos de tabela ******/
.ct-item:hover{
    background-color: var(--dark-green-t-o2);
}

.ct-item .palavras:hover, .item-texto:hover{
    text-decoration: underline;
}



/******** Lista de numeros de páginas *********/
.n-page-ct{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1px;
    justify-content: start;
    align-items: center;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: calc(9/13*100%); */
    position: sticky;
    bottom: 0px;
    background-color: var(--light-yellow);
    overflow-x: scroll;
    width: 70vw;
}

.n-page-i{
    width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--dark-green);
    cursor: pointer;
    text-align: center;
}

/** bt mais... **/
.mais span, .ver-todos span, .menos span{
    cursor: pointer;
    width: 70px;
    text-decoration: none;
    transition: all 0.3s;
    font-style: italic;
}


.mais:hover span, .ver-todos:hover span, .menos:hover span{
    color: var(--light-yellow);
    background-color: var(--dark-green);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.mais:hover, .ver-todos:hover, .menos:hover{
    text-decoration: none;
}

