.texto-container{
    /*background-color: blue;*/
    margin: auto;
    width: 70%;
    /* border: 3px solid rgb(218, 218, 218); */
    padding: 10px;
}


.titulo{
    margin: auto;
    /*width: 70%;*/
    padding-top: 10px;
    padding-left: 15%;
    font-family:"Oswald";
    /* font-size: xxx-large; */
    font-size: var(--h1-texto);
}

.texto-completo{
    margin: auto;
    padding-left: 15%;
    padding-bottom: 30px;
    font-family: "Quattrocento";
    font-size:large;
}


.palavra:link{
    color:var(--dark-green);
    /* background-color: rgba(0, 0, 0, 0.123); */
    text-decoration: none;
}

.palavra:visited{
    color:var(--dark-green);
    background-color: var(--dark-green);
    text-decoration: none;
}

.palavra:hover{
    color:var(--light-yellow);
    background-color: var(--dark-green);
    text-decoration: none;
}

/****** Grid ******/
.grid-cat-map{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/****** Categorias ******/
.categorias-h a:hover{
    text-decoration:  underline overline;
    text-underline-offset: 5px;
    font-weight:bold;
}

.categorias-palavras-ct{
    margin: auto;
}

.categoria-a:link{
    color: var(--dark-green);
    text-decoration: none;
}

.categoria-a:visited{
    color: var(--dark-green);
    text-decoration: none;
}

.categoria-a:hover .categoria-h{
    color: var(--light-yellow);
    background-color: var(--dark-green);
    text-decoration: none;
    width: 70px;
}



/****** Categorias: elementos ******/

.p-elemento:hover{
    /* text-decoration:  underline overline;
    text-underline-offset: 5px; */
    font-weight:bold;
    background-color: var(--light-yellow);
}

#a-map:hover{
  text-decoration: none;
  background-color: var(--light-yellow)
}

.info-link:hover{
    background-color: var(--dark-green);
    color: var(--light-yellow);
}

/****** Mapa ******/
#mapa-pequeno {
    width: 100%;
}

.metadados{
    border-top: 1px solid var(--dark-green-t-o);
    border-bottom: 1px solid var(--dark-green-t-o);
    padding-bottom: 40px;
}