:root{
  --dark-green: #223F29;
  --light-yellow: #FFFEF2;
}

body{
    margin: 0;
    padding: 0;
  }
  
  #map {
    width: 100vw;
    height: 100vh; 
  }

  .leaflet-popup-content-wrapper{
    background-color: var(--light-yellow);
  }

  .leaflet-popup-tip{
    background-color: var(--light-yellow);
  }